<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeCamp</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="container">
    <h1>My To Do List</h1>
    
    <div class="nav">
        <input type="text" class="textbox" placeholder="Title...">
        <input type="button" class="btn" value="Add">
    </div>
    
    <ul>
        <li>
            Buy eggs
            <button class = "lBtn">&#215;</button>
        </li>
        <li>
            Read a book
            <button class = "lBtn">&#215;</button>
        </li>
        <li>
            Organize office
            <button class = "lBtn">&#215;</button>
        </li>
        <li>
            UET Code Camp 2018
            <button class = "lBtn">&#215;</button>
        </li>
    </ul>
</div>
</body>
</html>
